body{
    background-color: rgb(220, 220, 220)!important;
}
.container{
    min-height: 100vh;
    background-color: rgb(220, 220, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.question-footer{
    border-top: 1px solid rgba(0, 0, 0, 0.368);
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

    
.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}