body {
    background-color: rgb(0, 0, 0) !important;
}

.container {
    min-height: 100vh;
    background-color: rgba(14, 12, 118, 0.249);
    display: flex;
    align-items: center;
    justify-content: center;

}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.368);
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.restartBtn {
    display: flex;
    justify-content: center;
}